.template { display:none; }

/* place template */
.place {
    margin-bottom:7px;
}
.name {
    font-weight:bold;
}
.price {
    font-size:70%;
}
.address,.notes {
    margin-top:0px;
    margin-bottom:0px;
}
.address {
    font-size:95%;
}
.notes {
    font-size:85%;
}

/* suggest modal */
#suggest label.control-label {
    font-weight:bold;
}


/* bootstrap extensions */
#content {
    margin-top:43px;
}
